<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>登陆</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link type="text/css" rel="stylesheet" href="css/login.css" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="css/topBar.css" />
	<script type="application/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="application/javascript" src="js/HelpUtils.js"></script>
	<script type="application/javascript" src="js/topBar.js"></script>
	<script type="application/javascript" src="js/login.js"></script>
	<script type="application/javascript" src="/js/bootstrap.min.js"></script>
</head>

<body>
<!--顶部菜单-->
<div th:replace="~{common/topBar::topBar}"></div>
<!--登录-->
<div class="all_content">
	<div class="contentBGC">
		<div class="loginBox content">
			<form modelattribute="user" id="addUser-form" method="post">
				<div class="loginRegister">
					<p class="loginRegisterTitle content_logon">
						登录
					</p>
					<div id="firstDiv" style="display: block">
						<div class="commonDiv">
							<div class="clearfix">
								<input type="text" maxlength="11" id="telephone" class="bigInput" name="telephone" placeholder="请输入手机号" autocomplete="off" spellcheck="false">
							</div>
							<label class="prompt" style="display: none;">*请输入正确的账号信息</label>
						</div>
						<div class="commonDiv">
							<div class="clearfix">
								<input type="password" class="bigInput  pull-left" maxlength="12" id="password" placeholder="请输入密码" autocomplete="off" spellcheck="false">
							</div>
							<label class="prompt" style="display: none;">*请输入正确的账号信息</label>
						</div>
						<input type="button" id="loginBtn" class="button" value="登录">
						<p class="goLr">没有账号？　
							<a href="/register.html" style="color: #4DA7FF;text-decoration:underline">立即注册</a>
						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--底部备案信息-->
<div class="all_bottom">
	<p>©2019 grts 使用选吧前必读 意见反馈 京ICP证030173号 京公网安备11000002000001号 </p>
</div>
</body>
</html>