/*项目标题*/
.second_top{
	width: 100%;
	height: 600px;
	margin: 0 auto;
	background-image: url(/img/banner.png);
	background-position: center center;
	background-repeat: no-repeat;
}
/*项目标题:介绍*/
.project_title{
	width: 100%;
	height: 123px;
	margin: 50px auto 0px;
	text-align: center;
}
.project_title p:nth-of-type(1){
	font-size: 30px;
	margin-bottom: 5px;
}
/*项目介绍内容*/
.project_introdjction_content{
	width: 100%;
	height: 650px;
	margin: 0px auto;
	overflow: hidden;
	background-image: url(/img/introduction_img.png)
}
.introdjction_content{
	width: 1200px;
	height: 345px;
	margin: 140px auto;
	background-image: url(/img/introduction_img.png)
}
.introdjction_content div:nth-of-type(1){
	width: 600px;
	height: 250px;
	float: left;
	margin: 50px 0px;
	background-image: url(/img/introduction_img.png)
}
.introdjction_content div:nth-of-type(1) p:nth-of-type(1){
	font-size: 24px;
	margin-bottom: 15px;
	background-image: url(/img/introduction_img.png)
}

.introdjction_content div:nth-of-type(1) p:nth-of-type(2){
	background-image: url(/img/introduction_img.png);
}

.introdjction_content div:nth-of-type(2){
	width: 540px;
	height: 345px;
	margin-left: 60px;
	float: left;
	box-shadow: 1px 1px 4px 4px darkgray;
}

/*项目流程内容*/
.project_flow_content{
	width: 100%;
	height: 636px;
	background-color: #F6F8FB;
	margin: 0 auto;
	background-image: url(/img/flow.png);
	background-position: center center;
	background-repeat: no-repeat;
}

/*公司简介内容*/
.company_profile_content{
	width: 100%;
	height: 520px;
	margin: 0px auto;
	overflow: hidden;
	background-color: #F6F8FB;
}
.profile_content{
	width: 1200px;
	height: 331px;
	margin: 140px auto;
	background-color: #F6F8FB;
}
.profile_content div:nth-of-type(1){
	width: 600px;
	height: 331px;
	float: left;
}
.profile_content div:nth-of-type(2){
	width: 520px;
	height: 0px;
	float: left;
	margin: 30px 0px 20px 60px;
}

.profile_content div:nth-of-type(2) p:nth-of-type(1){
	font-size: 24px;
	margin-bottom: 15px;
	background-color: #F6F8FB;
}

.profile_content div:nth-of-type(2) p:nth-of-type(2){
	background-color: #F6F8FB;
}
/*底层div*/
.all_bottom{
	width: 100%;
	height: 67px;
	margin: auto auto;
	text-align: center;
	line-height: 67px;
}
.info{
	font-size: 14px;
	line-height: 30px;
}