*{
	margin: 0px;
	padding: 0px;
	border: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #222222;
	letter-spacing: 1px;
	text-decoration: none;
}

/*顶层div*/
.top{
	width: 1200px;
	height: 96px;
	margin: 0 auto;
	overflow: hidden;
}
/*顶层div左侧LOGO*/
.top_left{
	width: 120px;
	height: 96px;
	/*background-color:blue;*/
	/*background-image: url('../img/home.png');*/
	float: left;
}
.top_left img{
	height: 96px;
	width: 120px;
}
/*顶层div中部菜单*/
.top_menu{
	width: 800px;
	height: 96px;
	float: left;
	margin-left: 70px;
}
.menu_ul{
	float: left;
}
.menu_ul_li{
	list-style-type: none;
	float: left;
	margin-left: 56px;
	line-height: 96px;
}
.menu_ul_li_a{
	text-decoration: none;
	color: #222222;
}
.user_div{
	width: 208px;
	height: 96px;
	float: left;
}
.notLoggedIn{
	display: none;
}
.notLoggedIn a{
	display: block;
	float: left;
	margin: 2em 0.1em;
	text-align: center;
	width: 96px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #4DA7FF;
	border-radius: 3px;
	color: #4DA7FF;
}
.alreadyLoggedIn{
	width: 200px;
	height: 20px;
	margin: 2.7em auto ;
	display: none;
	position: absolute;

} 	
.alreadyLoggedIn button{
	letter-spacing: 0.2em;
	background-color: white;
}


.alreadyLoggedIn div a{
	display: block;
	margin: 0.5em auto 0em;
}

/*底层div*/
.all_bottom{
	width: 100%;
	height: 67px;
	margin: auto auto ;
	text-align: center;
	line-height: 67px;
}
.selectBlue{
	color: #4DA7FF
}
.point{
	cursor:pointer;
}
.commonHeader{
	background: linear-gradient(to bottom,#fff,#dddcdc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddcdc',GradientType=0);
	height: 40px;
	line-height: 40px;
	padding: 0 16px 0 20px;
	border-radius: 6px;
	border-bottom: 0;
}
#modifyPwd .modifyPwdModal {
	width: 480px;
	height: 345px;
	margin: 100px auto;
	background-color: #fff;
	border-radius: 6px;
}
#modifyPwd .modifyPwdModal .modal-body p {
	margin-bottom: 40px;
}
#modifyPwd .modifyPwdModal .modal-body p span {
	padding-top: 6px;
}
#modifyPwd .modifyPwdModal .modal-body p span, #modifyPwd .modifyPwdModal .modal-body p input {
	display: inline-block;
	float: left;
}
#modifyPwd .modifyPwdModal .modal-body {
	padding: 60px 74px;
	height: 237px;
}
.modal-body {
	position: relative;
	padding: 15px;
}
#modifyPwd .modifyPwdModal .modal-body p input {
	margin-left: 20px;
	border: 1px solid #d5d5d5;
	border-radius: 6px;
	text-indent: 20px;
	height: 30px;
	line-height: 28px;
	width: 232px;
	outline: 0;
}
#myModalLabel ,.close{
	height: 40px;
	line-height: 40px;
}
.picBox{
	position: absolute;
	right: 80px;
	width: 200px;
	text-align: center;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0 5px 8px rgba(10,34,89,0.3);
	top: 24px;
	padding: 30px 0 18px 0;
	display: none;

}
.picBox span {
	width: 100%;
	display: inline-block;
	padding-bottom: 12px;
}