<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:fragment="topBar" class="head">
    <input type="hidden" id="useId">
    <input type="hidden" id="userName">
    <div class="top">
        <div class="top_left">
            <img src="/img/home.png" alt="logo">
        </div>
        <div class="top_menu">
            <ul class="menu_ul">
                <li class="menu_ul_li">
                    <a class="menu_ul_li_a" href="JavaScript:void(0)">首页</a>
                </li>
                <li class="menu_ul_li">
                    <a class="menu_ul_li_a" href="JavaScript:void(0)">专业方向匹配</a>
                </li>
                <li class="menu_ul_li">
                    <a class="menu_ul_li_a" href="JavaScript:void(0)">能力测试</a>
                </li>
                <li class="menu_ul_li">
                    <a class="menu_ul_li_a" href="JavaScript:void(0)">职业方向匹配</a>
                </li>
                <li class="menu_ul_li">
                    <a class="menu_ul_li_a" href="JavaScript:void(0)">能力成长</a>
                </li>
                <li class="menu_ul_li">
                    <a class="menu_ul_li_a" href="JavaScript:void(0)">个人信息</a>
                </li>
            </ul>
        </div>
        <div class="user_div">
            <div class="notLoggedIn">
                <a href="/login.html">登录</a>
                <a href="/register.html">注册</a>
            </div>
            <div class="alreadyLoggedIn point">
                <button>李文龙</button>
                <div class="picBox">
                    <span  class="updatePwd">修改密码</span>
                    <span> <a href="JavaScript:void(0)">退出 </a></span>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade " id="modifyPwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modifyPwdModal modal-content" style="margin-top: 30px; position: relative;">
                <div class="modal-header  commonHeader clearfix">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改密码
                    </h4>
                </div>
                <div class="modal-body">
                    <p class="clearfix"><span>密　　码:</span><input type="password" maxlength="16" id="pwd" placeholder="请输入新密码" autocomplete="off"></p>
                    <p class="clearfix"><span>密码确认:</span><input maxlength="16" type="password" id="confirmPwd" placeholder="请再次输入新密码" autocomplete="off"></p>
                    <p class="clearfix" id="remindInfo" style="color: red;display: none;font-size: 12px;"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary">
                        修改密码
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</header>
</body>
</html>